*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
}

.flex {
    display: flex;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.alignItemCenter{
    align-items: center;
}

.flexWrap{
    flex-wrap: wrap;
}

.mainBox{
    margin: 0 auto;
    width: 1200px;
}

select,
header button {
    font-size: 1.5rem;
    padding: 4px 12px;
}

h1,
select,
header button,
header img,
footer p {
    margin: 1rem;
}

main{
    height: calc(100vh - 120px);
    background-color: aquamarine;
    padding: 80px;
}

.secondBox{
    height: 600px;
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
    align-content: flex-start;
}

.box {
    border: 1px solid black;
    justify-content: center;
    font-size: 2em;

}

.PiecesX49{
    height: calc(100% / 7);
    width: calc(100% / 7);
}

.PiecesX81{
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.PiecesX100{
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.box:hover{
    cursor: pointer;
}

.clicked {
    background-color: blue;
}

footer{
    height: 40px;
}